<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uts10120792">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UTS10120792.">
        <activity android:name="com.example.uts10120792.Profile" />
        <activity android:name="com.example.uts10120792.Gallery" />
        <activity android:name="com.example.uts10120792.Music" />
        <activity android:name="com.example.uts10120792.Daily" />
        <activity android:name="com.example.uts10120792.HomeActivity" />
        <activity
            android:name="com.example.uts10120792.WalkThrough1"
            android:label="home" />
        <activity android:name="com.example.uts10120792.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>